<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Excluir Membro</div>
                <div class="panel-body">
                    <p>Deseja excluir realmente esta membro do Projeto?</p>
                    <ul>
                        <li><strong>ID Projeto:</strong> {{ member.project_id }}</li>
                        <li><strong>ID Membro:</strong> {{ member.id }}</li>
                        <li><strong>Nome:</strong> {{ member.name }}</li>
                    </ul>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            <button type="button" class="btn btn-default" ng-click="goBack()">Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>