<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listagem de Arquivos
                    <a href="#/project/{{project_id}}/file/new" class="btn btn-xs btn-primary pull-right">Novo Arquivo</a>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Download</th>
                            <th>Ação</th>
                        </tr>
                        <tr ng-repeat="o in files">
                            <td>{{ o.name }}</td>
                            <td>{{ o.description | limitTo:20}}...</td>
                            <td>
                                <file-download url="" id-project="{{o.project_id}}" id-file="{{o.id}}" filename="{{o.name}}.{{o.extension}}"></file-download>
                            </td>
                            <td>
                                <a ng-href="#/project/{{o.project_id}}/file/{{o.id}}/edit" class="btn btn-xs btn-success"><i class="fa fa-edit"></i> Editar</a>
                                <a ng-href="#/project/{{o.project_id}}/file/{{o.id}}/remove" class="btn btn-xs btn-danger"><i class="fa fa-minus-circle"></i> Excluir</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>