<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listagem de clientes
                    <a href="#/client/new" class="btn btn-xs btn-primary pull-right">Novo Cliente</a>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Responsável</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Ação</th>
                        </tr>
                        <tr ng-repeat="o in clients">
                            <td>{{ o.name }}</td>
                            <td>{{ o.responsible }}</td>
                            <td>{{ o.email }}</td>
                            <td>{{ o.phone }}</td>
                            <td>
                                <a ng-href="#/client/{{o.id}}/edit" class="btn btn-xs btn-success"><i class="fa fa-edit"></i> Editar</a>
                                <a ng-href="#/client/{{o.id}}/remove" class="btn btn-xs btn-danger"><i class="fa fa-minus-circle"></i> Excluir</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>